<div class="ct-pagitem">NESTED TABS
    <br><small class="tab-desc">250+ effect out-in</small>
</div>

<div class="container">
<div class="row">
    
    <!-- Title & Images -->
    <div class="dummy-img dummy-img2 ma-b-50 span12"></div>



    <!-- TAB FLATBOX NESTED - begin -->
    <div class="ct ct-pill span12" data-tabs="
        isAutoRun-on
        fx-line speed-400 pag-{ align: center } ">


        <div>
            <div class="ct-pagitem">OVERVIEW</div>

            <div>
                <p class="dropcap">Borem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam perferendis temporibus aspernatur iure. Temporibus, voluptatibus, earum, commodi animi blanditiis modi maxime non aliquid excepturi odit quo repellendus vel ut.</p>
                <p>Maxime, hic, perspiciatis, accusamus repudiandae ducimus quaerat asperiores tenetur deserunt blanditiis neque quae suscipit quos nulla praesentium possimus dicta nisi voluptas quas earum minima vitae est facilis accusantium at distinctio.</p>
                <p>Repellat, magnam, id laudantium fugiat harum aliquid eligendi quae officiis atque dolores nisi consequatur! Saepe, aut, nisi labore voluptatem ab totam ut explicabo ratione blanditiis iure. Atque, molestias accusamus dignissimos!</p>
                <p>Iste ullam beatae vero neque quae, deserunt voluptate asperiores quod saepe fuga optio inventore quos quas dolorum obcaecati, temporibus blanditiis vitae quam rem mollitia laborum ducimus distinctio, maiores nam dignissimos.</p>
            </div>
        </div>

        <div>
            <div class="ct-pagitem">TEMPLATES</div>

            <div>
                <p class="dropcap">Porro, ad, earum, est, voluptates consequatur quam itaque magni aspernatur qui id illo nisi dolores possimus maxime ab nobis consectetur! Molestiae, sit.</p>
                <p>Animi, nemo quas a nesciunt eius dolores magnam facere consectetur totam cupiditate! Fugit, rerum consectetur magni debitis sit quasi deleniti autem aliquam repellat eius atque vel mollitia repellendus voluptas corrupti.</p>
                <p>Fuga, nostrum, voluptatibus, maxime tempore numquam ducimus minus beatae accusantium iusto omnis consectetur eligendi consequuntur sapiente maiores molestias soluta nihil itaque magni. Tenetur recusandae laboriosam ratione neque fugiat rem officiis?</p>
            </div>
        </div>

        <div>
            <div class="ct-pagitem">RESPONSIVE</div>

            <div>
                <p class="dropcap">Consectetur adipisicing elit. Impedit, aut, quod, deserunt corrupti cum consequuntur cumque distinctio quidem ea velit sunt ab sit unde deleniti tempora iste quibusdam reiciendis hic.</p>
                <p>Ipsam, nihil, asperiores placeat animi sunt ab excepturi minus esse impedit nostrum vel incidunt cumque nulla. Consectetur, ullam, assumenda, magnam, distinctio sit laborum fugiat nemo modi enim aliquam placeat sapiente.</p>
            </div>
        </div>

        <div>
            <div class="ct-pagitem">HTML5 DATA</div>

            <div>
                <p class="dropcap">Ipsum dolor sit amet, consectetur adipisicing elit. Velit, sunt sed eius accusantium qui autem officiis architecto dolorum quod nobis numquam error doloremque quis sit nesciunt asperiores perferendis omnis. Doloribus!</p>
                <p>Voluptates, quis, ullam consectetur dolores quisquam esse labore illo velit optio eligendi nulla quae quaerat laborum fugiat ipsam adipisci quam placeat dignissimos voluptas quas magnam explicabo animi reprehenderit. Beatae, ratione.</p>
                <p>Ratione, explicabo, odit, similique illo iste modi perferendis magnam quae eos dolores vitae consectetur excepturi soluta est nihil consequuntur porro voluptates sapiente cum sint mollitia ullam aspernatur vel maiores culpa?</p>
                <p>Quaerat, est, repudiandae, similique saepe repellendus cumque rerum blanditiis nihil eum quisquam quis explicabo ratione nemo aliquid quibusdam enim maiores fuga beatae architecto quos commodi adipisci quasi ad debitis laudantium.</p>
            </div>
        </div>

        <div>
            <div class="ct-pagitem">DOCS</div>

            <div>
                <h3>This is title of paragraph 5</h3>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, sapiente, mollitia ex nihil id quaerat laudantium aut cum sint dolore reiciendis distinctio voluptate incidunt iste delectus alias porro adipisci? Sed?</p>
                <p>Laboriosam, suscipit consectetur nobis autem laborum ab ipsam a fugit alias. Dolorem, reiciendis, nam, soluta voluptate quas saepe ex consectetur voluptatum culpa voluptates error tempore debitis officiis quia pariatur cupiditate.</p>
            </div>
        </div>
    </div>
    <!-- TAB FLATBOX NESTED - end -->

</div>
</div>