<div class="ct-pagitem">TRUE TABS
    <br><small class="tab-desc">no dropdown menu</small>
</div>


<div class="container">
<div class="row">
    
    <div class="span4">
        <h4>Ullam deleniti impedit eligendi voluptas</h4>
        <div class="dummy-img dummy-img6 ma-b-10"></div>

        <p class="bo-l-h ma-t-20"><i>Fugiat, ut, voluptates, nihil tenetur suscipit placeat temporibus voluptate accusantium repellendus ratione reiciendis iusto optio ad expedita incidunt.</i></p>
    </div>

    <div class="span4">
        <p class="dropcap">Morem ipsum dolor sit amet, consectetur adipisicing elit. Esse, non fuga quod inventore quos dignissimos vero. Magnam, quaerat, quibusdam, maxime magni ullam reiciendis natus voluptas voluptatum at sequi debitis nihil.</p>
        <p>Dolorem, tempore, commodi, non, a sint itaque magnam officia eaque rerum consectetur quas provident quaerat voluptas id adipisci tenetur dolor eius cum ratione doloribus dolore deleniti eum asperiores nihil temporibus!</p>
        <p>Itaque libero delectus asperiores deserunt voluptatem nostrum illum esse quo architecto corrupti! Facere, voluptate, cumque, eius voluptatibus a velit quia animi labore earum quam quidem officia error voluptates! Veritatis, ratione?</p>
    </div>

    <div class="span4">
        <p>Numquam, quibusdam error odio omnis eaque accusamus repellat ea facere. Cum, officia, est, magnam, voluptas similique optio dicta consequuntur itaque laborum dolorem inventore quidem repudiandae molestiae tempora fuga recusandae nulla.</p>
        <p>Sed, amet iste itaque tempora quia odit deleniti molestias nulla in cumque voluptatum ut modi magni ducimus minus officiis fugiat libero ipsam cupiditate corporis unde quas quis veritatis pariatur commodi!</p>
        <p>Laudantium, unde, molestias, a quis sed fugiat aspernatur vel magni ut autem nam accusantium temporibus voluptatum soluta iure. Rem, ab, eum at similique provident error aliquid corporis optio aperiam labore.</p>
    </div>
</div>
</div>