<div class="ct-pagitem">SWIPE GESTURES
    <br><small class="tab-desc">super easy switch slide</small>
</div>


<div class="container">
<div class="row">

    <div class="span12 ma-b-20">
        <div class="dummy-img dummy-img1 ma-t-10 ma-b-10"></div>
    </div>

    <div class="span4">
        <p class="bo-l-h"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisquam numquam quod in repudiandae officia nostrum porro ea voluptas eos sunt culpa odit enim. Assumenda, dolores.</i></p>
    </div>

    <div class="span8">
        <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, pariatur aliquam molestias aspernatur non. Facere, quibusdam, reiciendis, natus laudantium debitis suscipit consequatur voluptatibus mollitia temporibus quia ratione dignissimos magnam provident.</p>
        <p>Assumenda, repudiandae, iste magni labore culpa eum expedita eligendi odio molestiae temporibus id ab nihil ad sunt mollitia veritatis excepturi. Ullam, odit nesciunt doloribus natus non repudiandae error itaque vero?</p>
        <p>Facere, cum, praesentium quo alias quasi enim recusandae dicta ut molestiae nam! Ad, eum, excepturi, voluptatum, animi consequatur est magnam eligendi repellendus suscipit accusantium consectetur deserunt voluptates nobis delectus explicabo?</p>
    </div>

</div>
</div>